/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
.content {
  position: relative;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

#button-login {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  cursor: pointer;
  background: #397ecc;
  color: #fff;
}

#button-login:hover {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  cursor: pointer;
  background: #fff;
  color: #397ecc;
}

.button-upload {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  cursor: pointer;
  background: #397ecc;
  color: #fff;
}

.button-upload:hover {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  cursor: pointer;
  background: #fff;
  color: #397ecc;
}

#button-sign {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  cursor: pointer;
  background: #d11b1b;
  color: #fff;
}

#button-sign:hover {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  cursor: pointer;
  background: #fff;
  color: #d11b1b;
}

input {
  color: white !important;
}

.title-opaque{
  font-size: 100px;
  color: white;
}

.title-opaque-sign{
  font-size: 60px;
  color: white;
}

.postit-logo{
  border-bottom: 2px white !important;
}

#menu-item:hover{
  color: lightblue;
  text-decoration: none;
}

body{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.cadastro-menu{
  width: 30%;
}
.body-after-login{
  background-color: #2b2c2e;
}
.item:before {
  -webkit-box-shadow: inset 0 0 20rem rgba(0, 0, 0, 1);
  box-shadow: inset 0 0 20rem rgba(0, 0, 0, 1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}
.container-carousel{
  max-width: 100%;
}
.border-upload{
  background-color: #494949;
  border-radius: 30px;
  border-width: 8px;
  border-style: solid;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.upload-area{
  width: 100%;
  height: 100%;
  overflow: auto;
}

.upload-area:hover{
  cursor: pointer;
}

#file{
  display: none;
}

.thumbnail{
  width: 100px;
  height: 300px;
  padding: 2px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 3px;
}

.size{
  font-size:12px;
  padding-top:1px;
}

.name{
  font-size:12px;
}